@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    display: flex; 
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    background: #eeeeee;
    border-radius: 30px; 
    height: 100vh;
}
h1 {
    color: #0a7e9b;
   padding-top: 13%;
   font-size: 32pt;
   user-select: none;
   text-align: center;
}

.cal {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
input {
    width: 65%;
    height: 35%;
     color: #4f5157;
    text-shadow: 1px 1px 1px #00c3ff4b, -1px -1px 1px #00ff9d69;
    padding: 9px;
    font-size: 14pt;
    font-weight: 500;
    border-radius: 5px;
    outline: 0px solid #ca2a2a;
    outline-offset: 10px;
    border: none;
    box-shadow: 1px 1px 5px #19a0fa, -1px -1px 10px #19fa9c;
    background: #dadada;
    transition: .55s;
}
input:focus {
    padding: 11px 11px;
}
input::placeholder {
    color: #4d4747;
    text-shadow: none;
    text-align: center;
    font-size: 11pt;
}
p{
    font-size: 15pt;
    margin: 0 15px;
}
p1 {
    text-align: center;
    font-size: 15pt;
    color: #f3111177;
}
.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    margin: 25px 10px;
    padding: 4px 6px;
    font-size: 18pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #33333373;
    box-shadow: 1px 1px 5px #727272;
    transition: .6s;
}
button:hover {
    transform: scale(1.2);
    background: #333;
    color: #fff;
    border: 2px solid #ffffff94;
    box-shadow: 1px 1px 5px #013947, -1px -1px 10px #19cdfa;
}
.resultado{
    font-size: 20pt;
    font-weight: 700;
    padding: 0 10px;
    color: #19cdfa;
    text-align: center;
}
#reset {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;

}
.reset{
    padding: 8px 40px;
    margin: 0 auto;
}
.reset:hover {
    transform: scale(1.2);
    background: #333;
    color: #f87e7e;
    border: 2px solid #ffffff94;
    box-shadow: 1px 1px 5px #470101, -1px -1px 10px #fa1919;
}
.number1, .number2{
    text-align: center;
}

@media (max-width: 625px){

    .card{
        width: 94vw;
    }
    h1{
        font-size: 22pt;
    }
    button {
        margin: 15px 5px;
        font-size: 14pt;
    }
    .resultado{
    font-size: 17pt;
    }
}